<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title|title}}</title>
</head>
<body>
  <h1>{{header}}</h1>
  <p>{{user}}</p>

    {% for product in products %}
        <h5>{{product.name}}</h5>
        <p>{{product.price}} руб.</p>
    {% endfor%}

    {% if product_promo %}
    {% product in products_promo %}
        <h5 style="color: red">{{product.name}}</h5>
        <p style="color: red">{{product.price}} руб.</p>
    {% endfor%}
    {% endif%}
</body>
</html>